.todo-container {
    border: 1px solid #000000;
    flex-direction: column;
    justify-content: space-between;
}

.todo-list {
    margin-top: 15px;
    min-width: 100%;
    list-style: none;
}

.todo-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.5rem;
    background: #ffffff;
    color: #000000;
    transition: all 0.5s ease;
}

.todo-component li {
    flex: 1;
}