select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    width: 15rem;
    background: #ffffff;
    text-align: start;
    font-size: 1rem;
    padding: 1rem;
}

.select {
    margin: 0 20vw 0 20vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after {
    background: #000000;
    color: #ffffff;
}