<!DOCTYPE html>
<div th:fragment="modal_fragment" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <form action="/api/tasks" method="post">
            <input type="text" placeholder="name" id="name" name="name">
            <input type="date" placeholder="due date" id="due-date" name="dueDate">
            <input type="text" placeholder="estimate time" id="estimate" name="estimate">
            <div class="select-type">
                <select name="type" id="task-type">
                    <option value="none" selected disabled>Select a type</option>
                    <option value="work">Work</option>
                    <option value="home">Home</option>
                    <option value="hobby">Hobby</option>
                </select>
            </div>
            <button class="submit-modal" type="submit">
                <i class='bx bxs-layer-plus'></i>
            </button>
        </form>
    </div>
</div>